<template>
    <div id="app">
        <img src="img/logo.png">
        <h1>{{ msg }}</h1>

        <section>
            <h2>Simple translation</h2>
            <p v-t="'hello_world'"></p>
        </section>

        <section>
            <h2>A message with a parameter</h2>
            <p v-t="{path: 'hello_you', args: {name}}"></p>
        </section>

        <section>
            <h2>A message with a computed property</h2>
            <p>{{ $t("count", {count: twice}) }}</p>
        </section>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                msg: 'Welcome to Your Vue.js App',
                name: 'Bob',
                counter: 1,
                timer: null
            }
        },
        computed: {
            twice() {
                return 2 * this.counter;
            }
        },
        created() {
            this.timer = setInterval(() => {
                this.counter += 1;
            }, 1000)
        },
        destroyed() {
            clearInterval(this.timer);
        }
    }
</script>

<style lang="scss">
    #app {
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;

        h2 {
            text-transform: uppercase;
        }
    }

</style>